/********************************************************/
/*      stylesheet for Black Mirror tribute site        */
/*      author: Juan Carlos Ocaña Heredia               */
/*      version. 1.0                                    */
/*      comment: project for Lenguaje de Marcas - 1ºDAM */
/********************************************************/

/* Para incluir una fuente externa hay que indicar donde está eñ archivo, y darle un nombre interno */
@font-face {
    src: url(../fonts/cabin-sketch-v1.02/CabinSketch-Regular.ttf);
    font-family:textonormal;
}
@font-face {
    src: url(../fonts/FontsFree-Net-Proxima-Nova-Bold.otf);
    font-family:blackmirror;
}

*{box-sizing: border-box;}

body{
    margin: 0; padding: 0;                      /* para eliminar espacio superio en body */ 
    background-color: #13131c;
    color: #dfdbe4;
    font-family:textonormal;                    /* se usa la fuente externa con el nombre que le hemos asignado */
}
h1{
    font-family:blackmirror;
    text-align: center;
    color: #13131c;
    text-shadow: 2px 2px 2px lightgray;
}
#wrapper{
    background-color: #565b64; 
    width: 100%;                                /* MOBILE FIRST */
    margin: auto;                               /* se centra el contenido de la página */
}
/************************ HERO SECTION ******************************/

#hero{
    background-image: url(../img/móvil.jpg);   /* imagen apaisada de buena calidad */
    background-size: cover;                     /* cubre todo el ancho */
    height: 90vh;                               /* 90% del alto de la ventana */
    background-position: center;    
    position: relative;                         /*  teniendo en cuenta que la navbar ocupa algo */
}                                           
#hero button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);}            /* retoca la posición, al centro del botón */
button{
    border: none;
    font-weight: bold;
    font-size: 0.8em;
    padding: 3px 15px;
    border-radius: 15px;
    background-color: rgb(123, 121, 121);
}
#hero button:hover{
    background-color: #565b64;
}

/******************** INTRO SECTION ***********************/

.grid-2{
    display: grid;
    grid-template-columns: 100%;                /* MOBILE FIRST */
}
.col-2{
    padding: 6%;
}
#intro img{
    width: 100%;
}

/******************** SESSIONS SECTION ********************/

.grid-4{
    display: grid;
    grid-template-columns: 100%;
}


/******************** RESPONSIVIDAD ***********************/

@media only screen and (width>900px) {
    #wrapper{width: 80%;}                       /* MOBILE FIRST */
    .grid-2{grid-template-columns: 50% 50%;}    /* MOBILE FIRST */
    .grid-4{grid-template-columns: auto auto auto auto;}
}
@media only screen and (width>650px){
    .grid-4{grid-template-columns: 50% 50%;}
}